body {     
    background: #111;     
    width:  100%;
    height: 100%;
    margin: 0;
}

input[type="range"] {
    width: 300px;
    accent-color: #00ffaa;          
}

p {
  font-size: 15px;
}


.icon {
    opacity: 1;
  }

.moon {
    opacity: 0;
    transition: opacity 0.25s ease-in
  }


.icon-label {
    opacity: 0;
    transition: opacity 0.25s ease-in
  }


.tutorialArrow {
  position: absolute;
  width: 20px;
  height: 20px;
  pointer-events: none; /* don’t block clicks */  
  z-index: 9999;
  opacity: 0;
  transition: opacity 1s ease-in
}




.card-text {
  width: 100%;
  height: 100%;
  margin: 10px;
  line-height: 2;
  font-family: "Avenir Next", sans-serif; 
  position: relative;
  display: block;
  color: rgb(18, 33, 83);      
  z-index: 2;  
  max-width: 80ch;
  /* filter: drop-shadow(0 0 2rem rgb(92, 140, 187));     */
  /* mix-blend-mode: difference;      */
  
}


.scroll-fade-content {
  position: relative;
  width: 300px;
  height: 200px;
  overflow-y: auto;
  background: transparent;  /* let WebGL background show through */

  
  /* The magic happens here */
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
  mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  transition: -webkit-mask-image 0.3s ease, mask-image 0.3s ease;
}

.scroll-inner {
  padding: 10px;
}




#gl-canvas {
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
  }


#introPage-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 100vw;
    height: 100vh;
    z-index: 999;    
    opacity: 0; /* start hidden */
    transition: opacity 0.3s ease-in;
    overflow: hidden;
}


#introPage_title {
  position: relative;  
  font-family: "Avenir Next", sans-serif; 
  font-weight: 500;
  color: transparent; /* Makes the text hollow */
  
  /* Create the text outline */
  -webkit-text-stroke-width: 1.4px;
  -webkit-text-stroke-color: black;  

  font-size: 5vw;
  font-style: oblique;

  margin-top: 10%;
}

#introPage_text_container {
  position: relative;
  /* font-size: 2vw; */
  margin-top: 30px;
  max-width: 40vw;
  font-family: "Avenir Next", sans-serif; 
}



#introPage_button {
  /* position: relative;   */
  width: 100px;
  height: 100px;
  margin-top: 5px;
  cursor: pointer;
  filter: contrast(0.75);
  /* Apply the animation */   
  transform-origin: 50% 50%;
  animation: swing-grow 2s ease-in-out infinite;  
}

@keyframes swing-grow {
  0%, 100% {
    transform: scale(1) rotate(2deg);
  }  
  50% {
    transform: scale(1.05) rotate(-2deg);
  }
}

#introPage_button:hover {
  filter: contrast(1);
}



#introPage_text_container {
  position: relative;

}

#introPage_text_main {

}

#introPage_text_quote {
  position: relative;
  font-size: 13px;
  margin-top: 7%;
  /* right: 50px; Adjust distance from the right edge */
  text-align: right; /* Aligns the text within the attribution element to the right */

  font-style: italic;  
}


/* ==================================================================== */



#master-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 3s ease-in;
    overflow : hidden;
  }



#left-column-container {
    /* display: none; */
    display: flex;
    flex-direction: column;
    flex-grow: 1;    
    /* border: 2px solid rgb(57, 80, 129); */
    border-radius: 5px;
    margin : 20px;
  }


#left-column-top-panel { 
    flex-grow: 2;    
    overflow: hidden;
}

#left-column-bottom-panel {     
    margin: 10px;
    position: relative;           
    z-index:0;    
    border-radius: 5px;     
    width: 100%;
    height: 0;
    transition: height 0.5s ease;
    overflow: scroll;
    margin-bottom: 5%;
}


#bottom-row-container {    
    /* border-radius: 5px; */
    /* margin : 20px; */
    height: 0%;
    flex-grow: 1;

}

#era-text {    
    margin-left: 10px;
    line-height: 2;
    font-family: "Avenir Next", sans-serif; 
    position: relative;
    display: block;
    /* color: rgb(141, 162, 234);       */
    z-index: 2;  
    max-width: 120ch;    
  }

#right-column-container {
  display: flex;
  margin-top: 4%;
  flex-direction: column;
  width: 0%;    
  height: 85%;
  transition: width 0.5s ease;
  overflow: scroll;
  align-items: center;
}  




#sidepanel_embedded_container {
  position: relative;
  flex-shrink: 0;
  width: 90%;
  height: 65%;
  margin-top: 5%;  
  box-shadow : 0px 1px 20px 2px #9f98a8;
  background-color: rgb(248, 229, 193);
}

#sidePanel_embedded_loadingMessage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(248, 229, 193);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #333;
  z-index: 10; /* make sure it’s above the iframe */
  transition: opacity 0.3s ease;
}


#sidePanel_embedded_iframe {  
  border: none;
  width: 100%;
  height: 100%;
  background-color: rgb(248, 229, 193);
}

#sidePanel_title {
  font-weight: 700;  
  font-size: 20px;
}

#sidePanel_title {
  font-weight: 700;  
}

#sidePanel_url {
  font-style: oblique;
  color: blue;
  text-decoration: underline;

}

#credits {
  position: absolute;
  font-family: "Avenir Next", sans-serif; 
  font-size: 15px;
  color: rgb(66, 66, 66);
  top: 97%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; /* Centers the text horizontally within the div */
  padding: 10px; /* Optional: Add some padding */
  /* background-color: lightblue; For visualization */
}