body {     
    background: #111;     
    width:  100%;
    height: 100%;
    margin: 0;
}

input[type="range"] {
    width: 300px;
    accent-color: #00ffaa;          
}


.left-column-panel {
    /* display: none; */
    margin: 10px;
    position: relative;           
    z-index:0;
    /* border: 2px solid rgb(57, 80, 129); */
    border-radius: 5px;
    
  }

.icon {
    opacity: 1;
  }

.moon {
    opacity: 0;
    transition: opacity 0.25s ease-in
  }


.icon-label {
    opacity: 0;
    transition: opacity 0.25s ease-in
  }



.card-text {
  width: 100%;
  height: 100%;
  margin: 10px;
  line-height: 2;
  font-family: "Avenir Next", sans-serif; 
  position: relative;
  display: block;
  color: rgb(18, 33, 83);      
  z-index: 2;  
  max-width: 80ch;
  /* filter: drop-shadow(0 0 2rem rgb(92, 140, 187));     */
  /* mix-blend-mode: difference;      */
  
}



#gl-canvas {
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
  }


#introPage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 10%; */
    width: 100vw;
    height: 100vh;
    z-index: 999;
    position: absolute;    
    opacity: 1;
    transition: opacity 0.3s ease-in

}


#introPage_title {
  position: relative;  
  font-family: "Avenir Next", sans-serif; 
  font-weight: 500;
  color: transparent; /* Makes the text hollow */
  
  /* Create the text outline */
  -webkit-text-stroke-width: 1.4px;
  -webkit-text-stroke-color: black;  

  font-size: 5vw;
  font-style: oblique;

  margin-top: 10%;
}

#introPage_text_container {
  position: relative;
  /* font-size: 2vw; */
  margin-top: 30px;
  max-width: 40vw;
  font-family: "Avenir Next", sans-serif; 
}

/* #introPage_text_container */


#introPage_button {
  /* position: relative;   */
  width: 100px;
  height: 100px;
  margin-top: 10%;
}



/* ==================================================================== */



#master-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 3s ease-in
  }



#left-column-container {
    /* display: none; */
    display: flex;
    flex-direction: column;
    flex-grow: 1;    
    /* border: 2px solid rgb(57, 80, 129); */
    border-radius: 5px;
    margin : 20px;
    /* height: 70vh; */
  }


#left-column-top-panel { 
    flex-grow: 2;    
    overflow: hidden;
}

#left-column-bottom-panel {      
    width: 100%;
    height: 0;
    transition: height 0.5s ease;
    overflow: hidden;
}


#bottom-row-container {    
    /* border-radius: 5px; */
    /* margin : 20px; */
    height: 0%;
    flex-grow: 1;

}

#text-main {    
    margin-left: 10px;
    line-height: 2;
    font-family: "Avenir Next", sans-serif; 
    position: relative;
    display: block;
    /* color: rgb(141, 162, 234);       */
    z-index: 2;  
    max-width: 80ch;    
  }

#right-column-container {
  display: flex;
  flex-direction: column;
  width: 0%;    
  transition: width 0.5s ease;
  overflow: hidden;
  align-items: center;
}  


#sidePanel_embedded {
  width: 90%;
  height: 50%;
  margin: 10px;
  border: none;
  box-shadow : 0px 1px 20px 6px #9f98a8;
  background-color: rgb(248, 229, 193);
}

#sidePanel_title {
  font-weight: 700;  
}

#sidePanel_title {
  font-weight: 700;  
}